doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Register for Salesforce Data Access
    // Bootstrap core CSS
    link(href='/lib/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    // Custom styles for this template
    link(href='signin.css', rel='stylesheet')
  body.text-center
    form    
    form.form-signin(action='/auth/register',method='POST')
      img.mb-4(src='/images/sapient_logo.png', alt='', width='128', height='46')
      h1.h3.mb-3.font-weight-normal Sign Up
      label.sr-only(for='firstName') First Name
      input#firstName.form-control(type='text', name='firstname',placeholder='First Name', required='')
      label.sr-only(for='lastName') Last Name
      input#lastName.form-control(type='text', name='lastname', placeholder='Last Name', required='')
      label.sr-only(for='inputEmail') Email address
      input#inputEmail.form-control(type='email', name='email', placeholder='Email address', required='')
      label.sr-only(for='inpUsername') User Name
      input#inpUsername.form-control(type='text', name='username', placeholder='User Name', required='')
      label.sr-only(for='mobileNum') Mobile Number
      input#mobileNum.form-control(type='tel', name='phone', placeholder='Mobile Number', required='')

      label.sr-only(for='inputPassword') Password
      input#inputPassword.form-control(type='password', name='password', placeholder='Password', required='')
      .mt3
        button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up
      p.mt-5.mb-3.text-muted © 2017-2018
